langchain
streamlit
ipykernel
python-dotenv
langchain_community
langchain-ollama
pypdf
bs4
faiss-cpu
pyowm
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
beautifulsoup4
langchain_groq
langchain_core
gradio
plotly
